.site-header {
	background-color: #fff;
	padding-top: 10px;
	width: 100%;
	position: relative;
}

.header-inner {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	padding: 5px 20px;
}

@media (min-width: 1025px) {

	.header-inner {
		max-width: 1100px;
		margin: 0 auto;
		padding: 0 20px;
	}
}

.header-inner__branding {
	width: 182px;
	height: auto;
}

.header-inner__branding .custom-logo-link img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.header-inner__navigation {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 30px;
}

@media (max-width: 1024px) {

	.header-inner__navigation {
		gap: 0;
	}
}

.header-inner__navigation .menu-action {
	padding: 12px 30px;
}

.header-inner__navigation .menu-action > button {
	font-size: 1em;
}

.header-inner__navigation .menu-action .menu-toggle {
	background: none;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}

.header-inner__navigation .primary-menu-wrapper .primary-menu-inner {
	display: flex;
	align-items: center;
}

.header-inner__navigation .primary-menu-wrapper .primary-menu-inner li {
	padding: 15px;
	position: relative;
}

.header-inner__navigation .primary-menu-wrapper .primary-menu-inner li:has(ul) > a::after {
	margin-left: 8px;
	height: 8px;
	width: 8px;
	display: inline-block;
	background: url(../svgs/down-arrow.svg) no-repeat;
	content: "";
	vertical-align: center;
}

.expanded-menu-wrapper ul {
	list-style: none;
}

.header-inner__navigation .primary-menu-wrapper .primary-menu-inner li ul {
	display: none;
}

.header-inner__navigation .primary-menu-wrapper .primary-menu-inner li:hover > ul {
	position: absolute;
	display: block;
	margin-top: 15px;
	width: 220px;
	border: 1px solid #ddd;
	background-color: #fff;
}

.expanded-menu-wrapper .expanded-menu-inner li a {
	display: block;
	color: #415058;
	font-size: 16px;
	padding: 10px 30px;
	border: 1px;
	border-bottom: 1px solid #ddd;
}

.header-inner__navigation .primary-menu-wrapper .primary-menu-inner li a {
	color: #415058;
	font-size: 20px;
	white-space: nowrap;
}

.expanded-menu-wrapper .expanded-menu-inner li a:hover {
	color: #3278bd;
}

.expanded-menu-wrapper .expanded-menu-inner li .sub-menu li a {
	display: block;
	color: #415058;
	font-size: 16px;
	padding-left: 45px;
	border: 1px;
	border-bottom: 1px solid #ddd;
}

.header-inner__navigation .primary-menu-wrapper .primary-menu-inner li ul li a {
	color: #415058;
	font-size: 20px;
	line-height: 32px;
	display: flex;
	white-space: normal;
	align-items: center;
}


.header-inner__navigation .primary-menu-wrapper .primary-menu-inner li a:hover {
	color: #3278bd;
}

.header-inner__navigation .primary-menu-wrapper .primary-menu-inner li ul li {
	padding: 7px 15px;
	overflow-wrap: break-word;
	position: relative;
}

.expanded-menu-wrapper .expanded-menu-inner li .sub-menu li a:hover {
	color: #3278bd;
}

.header-inner__navigation .primary-menu-wrapper .primary-menu-inner li ul li a:hover {
	color: #3278bd;
}

.header-inner__navigation .primary-menu-wrapper .primary-menu-inner li ul li:has(ul) > a::after {
	margin-left: 8px;
	height: 8px;
	width: 8px;
	display: inline-block;
	background: url(../svgs/down-arrow.svg) no-repeat;
	content: "";
	transform: rotate(270deg);
	vertical-align: center;
}

.header-inner__navigation .primary-menu-wrapper .primary-menu-inner li ul li:hover ul {
	position: relative;
	display: block;
	margin-top: 15px;
	width: 220px;
	border: 1px solid #ddd;
	background-color: #fff;
}

.header-inner__navigation .primary-menu-wrapper .primary-menu-inner li ul li:not(:last-child) {
	border-bottom: 1px solid #ddd;
}

.expanded-menu-wrapper {
	width: 0;
	overflow: hidden;
	right: 0;
	transition: width 0.2s ease-in-out;
	border-top: 1px solid #ddd;
	position: absolute;
	background-color: #fff;
	z-index: 999;
}

#search {
	cursor: pointer;
}

#search-close {
	cursor: pointer;
}

.search-container {
	position: relative;
}

.search-form {
	position: absolute;
	right: 0;
	width: 0;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	overflow: hidden;
	top: 40px;
	z-index: 10;
}

.search-form .search-input {
	display: flex;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 12px 12px;
}

.search-form .search-input input {
	padding: 0;
	border: 0;
	transition: width 0.3s ease-in-out;
	color: #415058;
	font-size: 14px;
	max-width: 220px;
	font-weight: 300;
	font-family: -apple-system, blinkmacsystemfont, "Segoe UI", Roboto, Oxygen-Sans, Oxygen, "Fira Sans", Ubuntu, Cantarell, "Droid Sans", "Helvetica Neue", arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	background-color: transparent;
	margin-right: 10px;
}

.search-form .search-input input:focus {
	outline: none;
}

.search-form .search-input .search-submit {
	cursor: pointer;
}

.mobile-visible {
	display: unset;
}

@media (min-width: 1025px) {

	.mobile-visible {
		display: none;
	}
}

.desktop-visible {
	display: none;
}

@media (min-width: 1025px) {

	.desktop-visible {
		display: unset;
	}
}
