@import "../css/social-buttons.css";
.single-post-wrapper {
  padding: 20px 20px 0 20px;
}
.single-post-wrapper .breadcrumb-wrapper {
  margin: 30px auto 0;
}
@media (min-width: 768px) {
  .single-post-wrapper .breadcrumb-wrapper {
    max-width: 1100px;
    margin-top: 40px;
  }
}
.single-post-wrapper .post-data {
  max-width: 100%;
}
@media (min-width: 768px) {
  .single-post-wrapper .post-data {
    max-width: 740px;
    margin: 0 auto;
  }
}
.single-post-wrapper .post-content-wrapper > * {
  max-width: 100%;
}
@media (min-width: 768px) {
  .single-post-wrapper .post-content-wrapper > * {
    max-width: 740px;
    margin: 0 auto;
  }
}
.single-post-wrapper .post-title {
  margin-top: 20px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .single-post-wrapper .post-title {
    margin-top: 40px;
    margin-bottom: 48px;
  }
}
.single-post-wrapper .post-meta {
  display: flex;
  flex-direction: column;
  margin-top: 14.4px;
  margin-bottom: 28.8px;
}
@media (min-width: 768px) {
  .single-post-wrapper .post-meta {
    display: block;
  }
}
.single-post-wrapper .post-meta .post-author {
  font-size: 14.4px;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen-Sans", "Oxygen", "Fira Sans", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #999;
  font-weight: 600;
  line-height: 1.6;
}
.single-post-wrapper .post-meta .post-author a {
  color: #999;
  font-weight: 400;
  text-decoration: none;
  line-height: 1.6;
}
.single-post-wrapper .post-meta .post-author a:hover {
  color: #3278bd;
  text-decoration: underline;
}
.single-post-wrapper .post-meta .post-author span {
  line-height: 1.6;
  color: #999;
  font-weight: 400;
  text-decoration: none;
}
.single-post-wrapper .post-meta .post-category {
  font-size: 14.4px;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen-Sans", "Oxygen", "Fira Sans", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #999;
  font-weight: 600;
  line-height: 1.6;
}
.single-post-wrapper .post-meta .post-category a {
  color: #999;
  font-weight: 400;
  text-decoration: none;
  line-height: 1.6;
}
.single-post-wrapper .post-meta .post-category a:hover {
  color: #3278bd;
  text-decoration: underline;
}
.single-post-wrapper .post-meta .post-tag {
  font-size: 14.4px;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen-Sans", "Oxygen", "Fira Sans", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #999;
  font-weight: 600;
  line-height: 1.6;
}
.single-post-wrapper .post-meta .post-tag a {
  color: #999;
  font-weight: 400;
  text-decoration: none;
  line-height: 1.6;
}
.single-post-wrapper .post-meta .post-tag a:hover {
  color: #3278bd;
  text-decoration: underline;
}
.single-post-wrapper .related-section {
  padding-top: 16px;
  margin: 24px auto;
}
.single-post-wrapper .related-section p {
  margin: 17.6px 0;
  font-size: 22px;
  line-height: 1.4;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen-Sans", "Oxygen", "Fira Sans", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 300;
  color: #415058;
}
.single-post-wrapper .related-section .related-posts-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}
.single-post-wrapper .related-section .related-posts-wrapper .related-post {
  margin-bottom: 14px;
}
.single-post-wrapper .related-section .related-posts-wrapper .related-post-title {
  font-size: 14px;
  line-height: 20px;
}
.single-post-wrapper .related-section .related-posts-wrapper .related-post-date {
  font-size: 14px;
  line-height: 20px;
}
.single-post-wrapper .comments-section {
  margin: 3em auto 1.5em;
}

/*# sourceMappingURL=single-post.css.map */
