/**
 * This file contains the stylesheet for the about template
 */

.sm-wrapper > .about-section {
	padding: 0 24px;
}

 /* About Section Starts */
.about-heading-container {
	border-left: 4px solid var(--border-color);
	padding-left: 12px;
}

.about-desktop-heading {
	display: none;
}

.about-content-container {
	margin-top: 48px;
}

.about-text {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}

.about-text a {
	font-size: 14px;
	color: #e46d62;
	text-decoration: underline;
}

/* About Section Ends */

/* Quick Links Section Starts */
.quick-links-container {
	display: none;
}

/* Quick Links Section Starts */

@media only screen and (min-width: 1025px) {
	.sm-wrapper > .about-section {
		padding: 0;
	}

	/* About Section Starts */
	.about-section {
		display: flex;
	}

	.about-wrapper {
		padding-right: 136px;
	}

	.about-desktop-heading {
		display: block;
	}

	.about-mobile-heading {
		display: none;
	}

	.about-text {
		font-size: 18px;
		line-height: 32px;
	}

	.about-text a {
		font-size: 18px;
	}

	/* About Section ends */

	/* Quick Links Section Starts */
	.quick-links-container {
		display: block;
		width: 280px;
		height: 100%;
		padding-top: 24px;
		padding-bottom: 24px;
		padding-left: 32px;
		background-color: #2b2b2b;
		flex-shrink: 0;
	}

	.quick-links-heading-text {
		font-size: 32px;
		line-height: 32px;
		font-weight: 700;
	}

	.quick-links-list-container {
		margin-top: 32px;
	}

	.quick-links-list {
		padding: 0;
		list-style: none;
	}

	.quick-link-item {
		display: flex;
		align-items: center;
		justify-items: center;
	}

	.quick-link-item::before {
		content: url(../images/ic_arrow.svg);
		margin-right: 8px;
		line-height: 0;
	}

	.quick-link-item:not(:first-child) {
		margin-top: 24px;
	}

	.quick-link-item a {
		font-size: 20px;
		line-height: 32px;
		font-weight: 400;
	}

	/* Quick Links Section Ends */
}