.st-am-container {
	display: flex;
	flex-direction: column;
	gap: 64px;
	padding-bottom: 64px;
}

.st-am-slider-container {
	height: auto;
	width: 100%;
	overflow: hidden;
}

.st-am-slider {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	list-style: none;
	padding: 0;
	transition: transform 0.7s ease-in-out;
}

.st-am-slider-item {
	flex-shrink: 0;
	width: 100%;
	position: relative;
}

.st-am-slider-item-image-container {
	min-height: 286px;
	position: relative;
}

.st-am-slider-item-image-container > img {
	width: 100%;
	height: 100%;
	min-height: 286px;
	object-fit: cover;
	object-position: 10%;

}

.st-am-slider-item-image-container:after {
	content: "";
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
}

.st-am-slider-item-movie-info-container {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: flex;
	gap: 10px;
	flex-direction: column;
	padding: 110px 0 31px 24px;
}

.st-am-slider-item-image-title {
	font-size: 32px;
	line-height: 72px;
	font-weight: 600;
}

.st-am-slider-item-image-synopsis {
	display: none;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	max-width: 414px;
}

.st-am-slider-item-movie-stats {
	display: flex;
	align-items: center;
	padding: 0;
	gap: 8px;
	list-style: none;
}

.st-am-slider-item-movie-stat {
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
}

.st-am-slider-item-movie-stat:not(:first-child):before {
	content: "•";
	color: var(--primary-font-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	margin-right: 4px;
}

.st-am-slider-item-movie-genre-container {
	display: flex;
	gap: 12px;

}

.st-am-slider-item-movie-genre {
	padding: 4px 12px;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	border: 1px solid #FFFFFF;
	border-radius: 24px;
}

.slider-dots-container {
	padding-top: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

.st-am-slider-dots {
	width: 8px;
	height: 8px;
	border-radius: 32px;
	background-color: #494949;
	cursor: pointer;
}

.active {
	background-color: var(--border-color);
}

.st-am-upcoming-movies-container {
	padding: 0 24px;
	display: flex;
	flex-direction: column;
}
.st-am-upcoming-movies-heading-container {
	border-left: 4px solid var(--border-color);
	padding-left: 12px;
}

.st-am-upcoming-movies-list-container {
	padding-top: 48px;
}

.st-am-upcoming-movies-list {
	display: flex;
	flex-direction: row;
	overflow: scroll;
	flex-wrap: nowrap;
	padding-bottom: 32px;
	gap: 16px;
}

.st-am-upcoming-movies-list-item-image-container {
	min-width: 156px;
	height: 167px;
}

.st-am-upcoming-movies-list-item-image-container > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.st-am-upcoming-movies-list-item-content-container {
	padding: 8px;
	width: 100%;
	background-color: #2b2b2b;
}

.st-am-upcoming-movies-list-item-content-heading-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
}

.st-am-movie-title-text {
	max-width: 84.19px;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
}

.st-am-genre-text {
	font-weight: 400;
	font-size: 8px;
	line-height: 12px;
}


.st-am-upcoming-movies-list-item-content-stats-container {
	margin-top: 12px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.st-am-release-date-text {
	font-weight: 400;
	font-size: 8px;
	line-height: 12px;
}

.st-am-content-rating-text {
	font-weight: 400;
	font-size: 8px;
	line-height: 12px;
	text-transform: uppercase;
}

.st-am-trending-movies-container {
	padding: 0 24px;
}

.st-am-trending-movies-heading-container {
	border-left: 4px solid var(--border-color);
	padding-left: 12px;
}

.st-am-trending-movies-list-container {
	padding-top: 48px;
}

.st-am-trending-movies-list {
	display: flex;
	flex-direction: row;
	gap: 16px;
	overflow: scroll;
	flex-wrap: nowrap;
	padding-bottom: 32px;
}

.st-am-trending-movies-list-item-image-container {
	min-width: 156px;
	height: 167px;
}

.st-am-trending-movies-list-item-image-container > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.st-am-trending-movies-list-item-content-container {
	padding: 8px;
	background-color: #2b2b2b;
}

.st-am-trending-movies-list-item-content-heading-container {
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.st-am-runtime-text {
	font-weight: 400;
	font-size: 8px;
	line-height: 12px;
}

.st-am-trending-movies-list-item-content-stats-container {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 12px;
}

.st-am-genres-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 4px;
}

.st-am-genre-text:not(:first-child):before {
	content: "•";
	margin-right: 2px;
	font-weight: 400;
	font-size: 8px;
	line-height: 12px;
}

.st-am-genre-text {
	font-weight: 400;
	font-size: 8px;
	line-height: 12px;
}

.st-am-release-date-text {
	font-weight: 400;
	font-size: 8px;
	line-height: 12px;
}

@media only screen and (min-width: 1025px) {
	.st-am-container {
		gap: 120px;
		padding-bottom: 64px;
	}

	.st-am-slider-item-image-container {
		max-height: 616px;
		position: relative;
	}

	.st-am-slider-item-image-container > img {
		width: 100%;
		height: 100%;
		max-height: 616px;
		object-fit: cover;
		object-position: top;
	}

	.st-am-slider-item-image-container:after {
		content: "";
		width: 100%;
		height: 100%;
		overflow: hidden;
		background: rgba(0, 0, 0, 0);
		position: absolute;
		left: 0; right: 0;
		top: 0; bottom: 0;
	}

	.st-am-slider-item-movie-info-container {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		display: flex;
		gap: 0;
		flex-direction: column;
		padding: 136px 112px;
	}

	.st-am-slider-item-image-title {
		font-size: 64px;
		line-height: 72px;
		font-weight: 600;
	}

	.st-am-slider-item-image-synopsis {
		margin-top: 24px;
		display: block;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		max-width: 414px;
	}

	.st-am-slider-item-movie-stats-container {
		padding-top: 32px;
	}

	.st-am-slider-item-movie-stat {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
	}

	.st-am-slider-item-movie-stat:not(:first-child):before {
		content: "•";
		color: var(--primary-font-color);
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		margin-right: 4px;
	}

	.st-am-slider-item-movie-genre-container {
		padding-top: 32px;
	}

	.st-am-slider-item-movie-genre {
		padding: 8px 16px;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		border: 1px solid #FFFFFF;
		border-radius: 24px;
	}

	.slider-dots-container {
		padding-top: 48px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 16px;
	}

	.st-am-slider-dots {
		width: 14px;
		height: 14px;

	}

	.st-am-upcoming-movies-container {
		padding: 0 112px;
		display: flex;
		flex-direction: column;
	}

	.st-am-upcoming-movies-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding-bottom: 0;
		overflow: hidden;
		gap: 32px;
	}

	.st-am-upcoming-movies-list-item-image-container {
		min-width: 384px;
		min-height: 411px;
	}

	.st-am-upcoming-movies-list-item-content-container {
		padding: 18px 16px 24px 16px;
		width: 100%;
		background-color: #2b2b2b;
	}

	.st-am-movie-title-text {
		max-width: 231px;
		font-size: 24px;
		line-height: 32px;
	}

	.st-am-genre-text {
		font-size: 16px;
		line-height: 24px;
	}

	.st-am-upcoming-movies-list-item-content-stats-container {
		margin-top: 16px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

	.st-am-release-date-text {
		font-size: 16px;
		line-height: 24px;
	}

	.st-am-content-rating-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		text-transform: uppercase;
	}

	.st-am-trending-movies-container {
		padding: 0 112px;
	}

	.st-am-trending-movies-list {
		display: flex;
		flex-direction: row;
		gap: 32px;
		overflow: hidden;
		flex-wrap: wrap;
		padding-bottom: 0;
	}

	.st-am-trending-movies-list-item-image-container {
		min-width: 384px;
		min-height: 411px;
	}

	.st-am-trending-movies-list-item-content-container {
		padding: 16px 24px;
	}

	.st-am-runtime-text {
		font-size: 20px;
		line-height: 32px;
	}

	.st-am-trending-movies-list-item-content-stats-container {
		margin-top: 16px;
	}

	.st-am-genres-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 8px;
	}

	.st-am-genre-text:not(:first-child):before {
		content: "•";
		margin-right: 4px;
		font-size: 16px;
		line-height: 24px;
	}

	.st-am-genre-text {
		font-size: 16px;
		line-height: 24px;
	}

	.st-am-release-date-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
	}
}