/**
 * This file contains the stylesheet for the archive-person template
 */

.ap-wrapper {
	padding: 64px 24px;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

/* Cast & Crew Section Starts */
.ap-cast-crew-wrapper {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.ap-cast-crew-heading-wrapper {
	border-left: 4px solid var(--border-color);
	padding-left: 12px;
}

.ap-cast-crew-heading-wrapper p {
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
}

.ap-cast-crew-list-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
}

.ap-cast-crew-list-mobile {
	display: flex;
	flex-direction: column;
	background: #2a2a2a;
}

.ap-cast-crew-poster-wrapper {
	width: 72px;
	height: 105px;
}

.ap-cast-crew-poster-wrapper > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.ap-cast-crew-details-wrapper {
	width: calc(100% - 72px);
	padding-left: 12px;
	padding-top: 12px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 16px;
}

.ap-cast-crew-name {
	display: flex;
	flex-direction: column;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
}

.ap-cast-crew-character-name-text {
	font-size: 14px;
	line-height: 24px;
}

.ap-cast-crew-birth-date {
	font-weight: 400;
	font-size: 10px;
	line-height: 16px;
}

.ap-cast-crew-excerpt {
	display: none;
}

.ap-cast-crew-learn-more {
	display: none;
}

.ap-cast-crew-excerpt-mobile {
	padding: 12px 12px 10.5px 12px;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
}

.ap-cast-crew-learn-more-mobile {
	padding: 0 12px 10.5px 12px;
	color: var(--link-color);
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;

	display: flex;
	align-items: center;
	gap: 5px;
}

.ap-cast-crew-learn-more-mobile::after {
	content: url(../images/ic_arrow_red.svg);
	font-size: 14px;
	line-height: 0;
	display: inline-block;
}

.ap-cast-crew-load-more-wrapper {
	display: none;
}

.ap-cast-crew-item {
	display: flex;
	flex-direction: row;
}

/* Cast & Crew Section Ends */

@media only screen and (min-width: 1025px) {

	.ap-wrapper {
		padding: 120px 112px;
	}

	/* Cast & Crew Section Starts */
	.ap-cast-crew-wrapper {
		gap: 80px;
	}

	.ap-cast-crew-heading-wrapper p {
		font-size: 64px;
		line-height: 72px;
	}

	.ap-cast-crew-list-wrapper {
		grid-template-columns: repeat(2, 1fr);
		gap: 32px;
	}

	.ap-cast-crew-list-mobile {
		display: flex;
		flex-direction: row;
		height: 100%;
	}

	.ap-cast-crew-poster-wrapper {
		width: 153px;
		height: 100%;
	}

	.ap-cast-crew-details-wrapper {
		width: calc(100% - 153px);
		padding: 32px 24px;
		gap: 8px;
	}

	.ap-cast-crew-name {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		font-size: 32px;
		line-height: 40px;
	}

	.ap-cast-crew-character-name-text {
		font-size: 24px;
		line-height: 40px;
	}

	.ap-cast-crew-character-name-text::before {
		content: "\00a0";
	}

	.ap-cast-crew-birth-date {
		font-size: 14px;
		line-height: 24px;
	}

	.ap-cast-crew-excerpt {
		display: block;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
	}

	.ap-cast-crew-learn-more {
		color: var(--link-color);
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;

		display: flex;
		align-items: center;
		gap: 5px;
	}

	.ap-cast-crew-learn-more::after {
		content: url(../images/ic_arrow_red.svg);
		font-size: 14px;
		line-height: 0;
		display: inline-block;
	}

	.ap-cast-crew-excerpt-mobile {
		display: none;
	}

	.ap-cast-crew-learn-more-mobile {
		display: none;
	}


	.ap-cast-crew-load-more-wrapper {
		display: flex;
		justify-content: center;
		flex-direction: row;
		cursor: pointer;
	}

	.ap-cast-crew-load-more {
		align-items: center;
		padding: 16px 40px;
		border: 1px solid #fff;
		border-radius: 99px;
	}

	.ap-cast-crew-load-more:hover {
		background-color: var(--border-color);
		border: 1px solid var(--border-color);
	}

	/* Cast & Crew Section Ends */
}
