/**
 * This CSS file is used for common CSS that is used throughout the website
 */
:root {

	/* Font Family */
	--primary-font-family: "Heebo", sans-serif;
	--secondary-font-family: "Big Shoulders Display", sans-serif;

	/* Colors */
	--primary-color: #1f1f1f;
	--secondary-color: #2a2a2a;
	--primary-font-color: #fff;
	--secondary-font-color: rgba(255, 255, 255, 0.5);
	--navbar-color: #111;
	--tag-font-color: #ddd;
	--border-color: #d13223;
	--link-color: #e46d62;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	height: 2px;
	width: 0;
}

/* Track */
*::-webkit-scrollbar-track {
	background: #494949;
}

/* Handle */
*::-webkit-scrollbar-thumb {
	background-color: var(--border-color);
}

html {
	scroll-behavior: smooth;
}

.st-site-content {
	background-color: #1f1f1f;
	min-height: 100vh;
}

a {
	text-decoration: none;
}

a:focus {
	background-color: unset;
}

.site {
	margin: auto;
}

.primary-text-primary-font {
	color: var(--primary-font-color);
	font-family: var(--primary-font-family);
}

.primary-text-secondary-font {
	color: var(--primary-font-color);
	font-family: var(--secondary-font-family);
}

.primary-text-tag-font {
	color: var(--tag-font-color);
	font-family: var(--primary-font-family);
}

.secondary-text-tag-font {
	color: var(--tag-font-color);
	font-family: var(--secondary-font-family);
}

.secondary-text-primary-font {
	color: var(--secondary-font-color);
	font-family: var(--primary-font-family);
}

.secondary-text-secondary-font {
	color: var(--secondary-font-color);
	font-family: var(--secondary-font-family);
}

.section-heading {
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
}

@media only screen and (min-width: 1025px) {

	.section-heading {
		font-size: 32px;
		line-height: 40px;
	}
}
