/**
 * This file contains the stylesheet for the footer template
 */

footer {
	background-color: #2a2a2a;
	display: flex;
	flex-direction: column;
	padding: 40px 0;
}

.st-footer-container {
	display: flex;
	flex-direction: column;
}

.st-footer-content-container {
	padding: 0 23px 0 24px;
}

.st-footer-logo-text-container {
	text-align: center;
}

.st-footer-logo-text-container > span {
	font-weight: 700;
	font-size: 34.3456px;
	line-height: 40px;
	text-transform: uppercase;
}

.st-footer-logo-first-half-text {
	color: var(--primary-font-color);
}

.st-footer-logo-second-half-text {
	color: var(--border-color);
}

.st-footer-follow-text {
	margin-top: 24px;
	font-weight: 700;
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
}

.st-footer-social-container {
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	gap: 42px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.st-footer-separator {
	margin-left: 24px;
	margin-right: 24px;
	max-width: 100%;
	height: 1px;

	margin-top: 59px;
	background: var(--tag-font-color);
}

.st-footer-rights-reserved-text {
	text-align: center;
	margin-top: 40px;
	margin-left: 45px;
	margin-right: 35px;

	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

.st-footer-company-navigation-container {
	display: none;
}

.st-footer-explore-navigation-container {
	display: none;
}

@media only screen and (min-width: 1025px) {

	footer {
		padding: 110px 0 40px 0;
	}

	.st-footer-container {
		display: grid;
		grid-template-columns: 50% 21.223% 20%;
	}

	.st-footer-content-container {
		padding: 0 0 0 111px;
	}

	.st-footer-logo-text-container {
		text-align: left;
	}

	.st-footer-logo-text-container > span {
		font-weight: 500;
		font-size: 48px;
		line-height: 56px;
		text-transform: uppercase;
	}

	.st-footer-follow-text {
		margin-top: 73px;
		text-align: left;
	}

	.st-footer-social-container {
		margin-top: 16px;
		display: flex;
		flex-direction: row;
		gap: 16px;
		flex-wrap: wrap;
		margin-left: -1px;
		justify-content: flex-start;
		align-items: center;
	}

	.st-footer-social-container > img {
		height: 50px;
		width: 50px;
	}

	.st-footer-company-navigation {
		font-weight: 700;
		font-size: 16px;
		line-height: 32px;
		text-transform: uppercase;
	}

	.st-company-navigation-list {
		margin-top: 24px;
		list-style: none;
		padding: 0;
	}

	.st-company-navigation-list > li > a {
		font-weight: 400;
		font-size: 16px;
		line-height: 40px;

		font-family: var(--primary-font-family);
		color: var(--primary-font-color);
		text-decoration: none;
	}

	.st-footer-company-navigation-container {
		display: block;
	}

	.st-footer-explore-navigation-container {
		display: block;
	}

	.st-footer-explore-navigation {
		font-weight: 700;
		font-size: 16px;
		line-height: 32px;
		text-transform: uppercase;
	}

	.st-explore-navigation-list {
		margin-top: 24px;
		list-style: none;
		padding: 0;
	}

	.st-explore-navigation-list > li > a {
		font-weight: 400;
		font-size: 16px;
		line-height: 40px;

		font-family: var(--primary-font-family);
		color: var(--primary-font-color);
		text-decoration: none;
	}

	.st-footer-separator {
		margin-left: 112px;
		margin-right: 112px;
		max-width: 100%;
		height: 1px;

		margin-top: 96px;
		background: var(--tag-font-color);
	}

	.st-footer-rights-reserved-text {
		text-align: start;
		margin-top: 40px;
		margin-left: 116px;

		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
	}
}
