/**
 * This file contains the stylesheet for the header template
 */

.header-navigation-container {
	width: 100%;
	height: auto;
	background-color: #2a2a2a;
	display: flex;
	flex-direction: column;
}

.header-container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 32px 24px;
	display: grid;
	grid-template-columns: 25% 50% 25%;
	align-items: center;
}

.header-search-container {
	text-align: start;
}

.header-search-container img {
	width: 24px;
	height: 24px;
}

.header-search-text {
	display: none;
}

.header-logo-container {
	text-align: center;
	margin: 0 8px;
}

.header-logo-first-half-text {
	color: var(--primary-font-color);
	font-weight: 700;
	text-transform: uppercase;
	font-size: 34.3456px;
	line-height: 40px;
}

.header-logo-last-half-text {
	color: var(--border-color);
	font-weight: 700;
	text-transform: uppercase;
	font-size: 34.3456px;
	line-height: 40px;
}

.header-actions-menu-container {
	text-align: end;
}

.header-actions-container {
	display: none;
}

.header-primary-menu-container {
	display: none;
}

.primary-menu-expanded-container {
	position: absolute;
	width: 100%;
	display: block;
	height: 0;
	overflow: hidden;
	z-index: 1;
	transition: height 0.3s ease-in-out;
}

.primary-menu-expanded {
	padding: 24px 24px 32px 24px;
	background-color: #2a2a2a;
	display: flex;
	flex-direction: column;
}

.primary-menu-expanded-login-register-actions {
	display: flex;
	gap: 8px;
}

.primary-menu-expanded-login-action {
	padding: 8px 24px;
	border: 1px solid var(--primary-font-color);
	border-radius: 24px;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

.primary-menu-expanded-register-action {
	padding: 8px 24px;
	background: var(--border-color);
	border-radius: 24px;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

.primary-menu-expanded-separator {
	margin-top: 24px;
	height: 1px;
	background-color: #666;
}

.primary-menu-expanded-explore-menu-wrapper {
	margin-top: 24px;
}

.primary-menu-expanded-explore-menu-text-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.primary-menu-expanded-explore-menu-text {
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
}

.primary-menu-expanded-explore-menu-down-arrow {
	line-height: 0;
}

.st-header-primary-menu-expanded-explore-menu {
	margin-top: 32px;
	margin-left: calc(40px - 24px);
}

.st-header-primary-menu-expanded-explore-menu-list {
	padding: 0;
	list-style: none;
}

.st-header-primary-menu-expanded-explore-menu-list > li > a {
	font-family: var(--primary-font-family);
	color: var(--primary-font-color);
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
}

.primary-menu-expanded-settings-menu-wrapper {
	margin-top: 24px;
}

.primary-menu-expanded-settings-menu-text-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.primary-menu-expanded-settings-menu-text {
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
}

.primary-menu-expanded-settings-menu-down-arrow {
	line-height: 0;
}

.primary-menu-expanded-settings-menu {
	margin-top: 32px;
	margin-left: calc(40px - 24px);
}

.primary-menu-expanded-settings-menu-list {
	padding: 0;
	list-style: none;
}

.primary-menu-expanded-settings-menu-list > li {
	font-family: var(--primary-font-family);
	color: var(--primary-font-color);
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
}

.st-header-primary-menu-expanded-explore-menu-list > li:not(:first-child) {
	margin-top: 40px;
}

.primary-menu-expanded-settings-menu-list > li:not(:first-child) {
	margin-top: 40px;
}

.primary-menu-expanded-settings-menu-list > li > a {
	font-family: var(--primary-font-family);
	color: var(--primary-font-color);
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
}

.language {
	font-weight: 400;
}

.primary-menu-expanded-version-text {
	text-align: center;
	margin-top: 32px;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

.hidden {
	display: none;
}

@media only screen and (min-width: 1025px) {

	.header-navigation-container {
		background-color: #1f1f1f;
	}

	.header-container {
		padding: 32px 112px;
	}

	.header-search-container img {
		width: 20px;
		height: 20px;
	}

	.header-search-text {
		display: block;
	}

	.header-search-container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 8px;
	}

	.header-search-container > img {
		line-height: 0;
	}

	.header-logo-container {
		margin: 0 12px;
	}

	.header-logo-first-half-text {
		font-size: 48px;
		line-height: 56px;
	}

	.header-logo-last-half-text {
		font-size: 48px;
		line-height: 56px;
	}

	.header-actions-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		flex-wrap: wrap;
		gap: 34px;
	}

	.header-sign-in-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.header-sign-in-container > img {
		line-height: 0;
	}

	.header-language-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
		flex-wrap: wrap;
		justify-content: center;
		cursor: pointer;
	}

	.header-language-container > img {
		transition: transform 0.5s;
	}

	.header-menu-container {
		display: none;
	}

	.header-primary-menu {
		width: 100%;
		background-color: var(--navbar-color);
		padding: 8px 112px;
		text-align: center;
	}

	.header-primary-menu-container {
		display: block;
	}

	.primary-menu-expanded-container {
		display: none;
	}

	.st-primary-navigation-list {
		display: flex;
		list-style: none;
		justify-content: center;
		gap: 42px;
		margin: 0;
		padding: 0;
		align-items: center;
	}

	.st-primary-navigation-list > li {
		line-height: 32px;
	}

	.st-primary-navigation-list > li > a {
		font-family: var(--primary-font-family);
		color: var(--primary-font-color);
		font-size: 16px;
		line-height: 32px;
		font-weight: 700;
		text-decoration: none;
	}

	.header-text {
		text-transform: uppercase;
		font-size: 16px;
		line-height: 32px;
		font-weight: 400;
	}
}
