/**
 * This file contains the stylesheet for the single-movie template
 */

@import "./about.css";
@import "./snapshots.css";
@import "./videos.css";

.sm-wrapper {
	display: flex;
	flex-direction: column;
	gap: 64px;
	padding-bottom: 64px;
}

/* Hero Section Starts */
.st-sm-poster-container > img {
	max-height: 286px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.st-sm-info-stats-container {
	padding: 16px 24px 0 24px;
	display: flex;
	flex-direction: column;
}

.st-sm-title {
	font-weight: 600;
	font-size: 32px;
	line-height: 40px;
	order: 1;
}

.st-sm-stats-items {
	padding: 16px 0 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	gap: 4px;
	order: 2;
}

.st-sm-stats-list-item:not(:first-child)::before {
	content: "•";
	font-size: 14px;
	line-height: 20.56px;
	color: var(--primary-font-color);
	margin-right: 2px;
}

.st-sm-rating > img {
	position: relative;
	line-height: 0;
	margin-right: 8px;
	width: 20px;
	height: 20px;
	top: -1.1px;
}

.st-sm-rating-text {
	font-weight: 700;
	font-size: 14px;
	line-height: 20.56px;
}

.st-sm-release-date-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 20.56px;
}

.st-sm-content-rating-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 20.56px;
}

.st-sm-runtime-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 20.56px;
}

.st-sm-genres-container {
	padding-top: 16px;
	order: 3;
	display: flex;
	flex-direction: row;
	gap: 24px;
}

.st-sm-genres-container p {
	padding: 4px 12px;
	border: 1px solid var(--primary-font-color);
	border-radius: 24px;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.st-sm-genres-container p:hover {
	background-color: var(--border-color);
	border: 1px solid var(--border-color);
}

.st-sm-description-container {
	order: 4;
	padding-top: 24px;

	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

.st-sm-directors-container {
	order: 5;
	padding-top: 24px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 8px;
}

.st-sm-director-text {
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
}

.st-sm-director-list {
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	gap: 8px;
}

.st-sm-director-item {
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
}

.st-sm-director-item:not(:first-child)::before {
	content: "•";
	margin-right: 4px;
}

.st-sm-watch-trailer-container {
	order: 6;
	margin-top: 44px;
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.ic-play-circle-container {
	position: absolute;
	left: 0;
}

.ic-play-circle-container > img {
	height: 70px;
	width: 70px;
}

.st-sm-watch-trailer-text-container {
	width: 100%;
	padding: 12px 24px;
	border: 1px solid var(--primary-font-color);
	border-radius: 32px;
	flex: 0 0 201px;
	text-align: end;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
}

.st-sm-watch-trailer-text-container:hover {
	background-color: var(--border-color);
	border: 1px solid var(--border-color);
}

/* Hero Section Ends */

/* Cast & Crew Section Starts */
.cast-crew-wrapper {
	padding: 0 24px 0 24px;
}

.cast-crew-heading-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cast-crew-heading-wrapper p {
	border-left: 4px solid var(--border-color);
	padding-left: 12px;
}

.view-all-wrapper-desktop {
	display: none;
}

.cast-crew-list-wrapper {
	padding-top: 48px;
}

.cast-crew-items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
	gap: 16px;
}

.cast-crew-item:not(:nth-child(2n + 1)) {
	min-width: 156px;
	max-width: 280px;
}

.cast-crew-item:not(:nth-child(2n)) {
	min-width: 155px;
	max-width: 280px;
}

.cast-crew-image-wrapper {
	height: 138.22px;
}

.cast-crew-image-wrapper > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.cast-crew-name-wrapper {
	padding: 8px 16px;
	background-color: #2b2b2b;
	text-align: center;
	overflow-wrap: break-word;
}

.cast-crew-name-wrapper span {
	font-size: 14px;
	line-height: 14px;
	font-weight: 500;
}

.view-all-wrapper-mobile {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-top: 32px;
}

.view-all-wrapper-mobile::after {
	content: url(../images/ic_arrow_red.svg);
	line-height: 0;
	height: 20px;
	width: 20px;
	fill: var(--link-color);
}

.st-sm-cast-crew-view-all-link {
	color: var(--link-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	padding-right: 8px;
}

/* Cast & Crew Section Ends */

/* Reviews Section Starts */
.reviews-wrapper {
	padding: 0 24px;
}

.reviews-heading-wrapper {
	border-left: 4px solid var(--border-color);
	padding-left: 12px;
}

.reviews-list-wrapper {
	padding-top: 42px;
}

.reviews-list {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
}

.review-list-item {
	padding: 16px;
	background-color: #2a2a2a;
}

.review-profile-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.profile-picture-name-wrapper {
	display: flex;
	align-items: center;
	gap: 8px;
	flex-wrap: wrap;
}

.profile-picture-name-wrapper > span {
	font-weight: 400;
	font-size: 14px;
	line-height: 20.56px;
}

.profile-picture-name-wrapper > img {
	width: 31px;
	height: 31px;
	border-radius: 50%;
}


.review-rating-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 8px;
}

.review-rating-wrapper > img {
	width: 20px;
	height: 20px;
}

.review-rating-wrapper span {
	font-weight: 700;
	font-size: 14px;
}

.review-content-wrapper {
	margin-top: 12px;
}

.review-content-wrapper p {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

.review-date-wrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 24px;
}

.review-date-wrapper p {
	font-weight: 400;
	font-size: 14px;
	line-height: 20.56px;
}

/* Reviews Section Ends */

@media only screen and (min-width: 1025px) {

	.sm-wrapper {
		display: flex;
		flex-direction: column;
		padding: 0 112px 120px  112px;
		gap: 120px;
	}

	/* Hero Section Starts */
	.st-sm-info-container {
		padding: 35px 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 34px;
		align-items: center;
	}

	.st-sm-poster-container {
		max-height: 876px;
		max-width: 592px;
	}

	.st-sm-poster-container > img {
		max-height: none;
	}

	.st-sm-info-stats-container {
		padding: 0;
		justify-content: center;
	}

	.st-sm-title {
		font-size: 88px;
		line-height: 96px;
	}

	.st-sm-stats-items {
		padding: 64px 0 0;
		flex-wrap: wrap;
		gap: 18px;
	}

	.st-sm-stats-list-item:not(:first-child)::before {
		content: "•";
		font-size: 24px;
		line-height: 24px;
		color: var(--primary-font-color);
		margin-right: 8px;
	}

	.st-sm-rating-text {
		font-size: 24px;
		line-height: 24px;
	}

	.st-sm-release-date-text {
		font-size: 24px;
		line-height: 24px;
	}

	.st-sm-content-rating-text {
		font-size: 24px;
		line-height: 24px;
	}

	.st-sm-runtime-text {
		font-size: 24px;
		line-height: 24px;
	}

	.st-sm-genres-container {
		padding-top: 40px;
		order: 4;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 31px;
	}

	.st-sm-genres-container p {
		padding: 8px 16px;
		font-size: 16px;
		line-height: 24px;
	}

	.st-sm-description-container {
		order: 3;
		padding-top: 36px;
		font-size: 18px;
		line-height: 32px;
	}

	.st-sm-directors-container {
		order: 5;
		padding-top: 64px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 12px;
	}

	.st-sm-director-text {
		font-size: 18px;
		line-height: 32px;
	}

	.st-sm-director-list {
		padding: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style: none;
		gap: 12px;
	}

	.st-sm-director-item {
		font-weight: 400;
		font-size: 18px;
		line-height: 32px;
	}

	.st-sm-director-item:not(:first-child)::before {
		content: "•";
		margin-right: 4px;
	}

	.st-sm-watch-trailer-container {
		order: 6;
		margin-top: 65px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.ic-play-circle-container {
		position: absolute;
		left: 0;
	}

	.ic-play-circle-container > img {
		height: 100px;
		width: 100px;
	}

	.st-sm-watch-trailer-text-container {
		padding: 16px 40px;
		flex: 0 0 264px;
		text-align: end;
	}

	/* Hero Section Ends */

	/* Cast & Crew Section Starts */
	.cast-crew-wrapper {
		padding: 0;
	}

	.view-all-wrapper-desktop {
		display: flex;
		align-items: center;
	}

	.view-all-wrapper-desktop::after {
		content: url(../images/ic_arrow_red.svg);
		line-height: 0;
		height: 20px;
		width: 20px;
		fill: var(--link-color);
	}

	.st-sm-cast-crew-view-all-link {
		font-size: 20px;
	}

	.cast-crew-items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		gap: 32px;
	}

	.cast-crew-image-wrapper {
		width: 100%;
		height: 248.32px;
	}

	.cast-crew-name-wrapper {
		width: 100%;
		padding: 24px 44px;
		background-color: #2b2b2b;
		text-align: center;
		overflow-wrap: break-word;
	}

	.cast-crew-name-wrapper span {
		font-size: 22px;
		line-height: 22px;
		font-weight: 500;
	}

	.view-all-wrapper-mobile {
		display: none;
	}

	/* Cast & Crew Section Ends */

	/* Reviews Section Starts */
	.reviews-wrapper {
		padding: 0;
	}

	.reviews-list-wrapper {
		padding-top: 48px;
	}

	.reviews-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 32px;
	}

	.review-list-item {
		padding: 24px 32px;
	}

	.profile-picture-name-wrapper {
		gap: 12px;
	}

	.profile-picture-name-wrapper > img {
		width: 59px;
		height: 59px;
		border-radius: 50%;
	}

	.profile-picture-name-wrapper > span {
		font-size: 16px;
		line-height: 24px;
	}

	.review-rating-wrapper span {
		font-weight: 500;
		font-size: 16px;
		line-height: 32px;
	}

	.review-content-wrapper {
		margin-top: 16px;
	}

	.review-content-wrapper p {
		font-size: 18px;
		line-height: 32px;
	}

	.review-date-wrapper p {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
	}

	/* Reviews Section Ends */
}
