.st-sp-container {
	display: flex;
	flex-direction: column;
	gap: 64px;
	padding: 0 24px 64px;
}

.st-sp-hero-container {
	display: flex;
	position: relative;
	flex-direction: column;
}

.st-sp-profile-container {
	align-self: center;
	height: 286px;
	width: 244px;
}

.st-sp-profile-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	-o-object-fit: cover;
	object-position: top;
}

.st-sp-data-container {
	display: flex;
	flex-direction: column;
}

.st-sp-identification-container {
	padding-top: 16px;
	text-align: center;
}

.st-sp-full-name-container {
	margin-top: 8px;
}

.name-text {
	font-size: 32px;
	line-height: 40px;
	font-weight: 600;
}

.full-name-text {
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
}


.st-sp-personal-details-container {
	padding-top: 31px;
}

.st-sp-occupation-details-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.st-sp-occupation-text-container {
	min-width: 116px;
}

.st-sp-occupation-container {
	margin-left: 40px;
}

.st-sp-birth-date-details-container {
	padding-top: 24px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.st-sp-birth-date-text-container {
	min-width: 116px;
}

.st-sp-birth-date-container {
	margin-left: 40px;
}

.st-sp-birth-place-details-container {
	padding-top: 24px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.st-sp-birth-place-text-container {
	min-width: 116px;
}

.st-sp-birth-place-container {
	margin-left: 40px;
}

.st-sp-years-active-details-container {
	padding-top: 24px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.st-sp-years-active-text-container {
	min-width: 116px;
}

.st-sp-years-active-container {
	margin-left: 40px;
}

.st-sp-debut-movie-details-container {
	padding-top: 24px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.st-sp-debut-movie-text-container {
	min-width: 116px;
}

.st-sp-debut-movie-container {
	margin-left: 40px;
}

.st-sp-upcoming-movies-details-container {
	padding-top: 24px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.st-sp-upcoming-movies-text-container {
	min-width: 116px;
}

.st-sp-upcoming-movies-container {
	margin-left: 40px;
}

.st-sp-social-details-container {
	padding-top: 24px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.st-sp-social-text-container {
	min-width: 116px;
}

.st-sp-social-container {
	margin-left: 40px;
	display: flex;
	align-items: flex-start;
}

.st-sp-social-items {
	line-height: 0;
}

.st-sp-social-items:not(:last-child) {
	margin-right: 24.84px;
	height: fit-content;
	line-height: 0;
	width: auto;
}

.st-sp-about-heading-container {
	border-left: 4px #d13223 solid;
	padding-left: 12px;
}

.st-sp-about-content-container {
	margin-top: 48px;
}

.about-text {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}

.about-text a {
	font-size: 14px;
	color: #e46d62;
	text-decoration: underline;
}

.st-sp-quick-links-container {
	display: none;
}

.st-sp-popular-movies-heading-container {
	border-left: 4px #d13223 solid;
	padding-left: 12px;
}

.st-sp-popular-movies-items-container {
	margin-top: 48px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 17px;
	padding-bottom: 32px;
	overflow: scroll;
}

.st-sp-popular-movie-item-poster-container img {
	width: 155px;
	height: 166px;
	object-fit: cover;
	object-position: top;
	-o-object-fit: cover;
}

.st-sp-popular-movie-item-info-container {
	padding: 8px;
	width: 100%;
	background-color: #2b2b2b;
}

.st-sp-popular-movie-item-name-runtime-container {
	display: flex;
	justify-content: space-between;
}

.st-sp-popular-movie-item-name-container {
	margin-right: 8px;
}

.st-sp-popular-movie-title {
	font-size: 12px;
	line-height: 16px;
	font-weight: 700;
}

.st-sp-popular-movie-runtime {
	font-size: 8px;
	line-height: 11.75px;
	font-weight: 400;
}

.st-sp-popular-movie-item-genre-release-container {
	display: flex;
	margin-top: 12px;
	justify-content: space-between;
}

.st-sp-popular-movie-item-genre-container {
	margin-right: 8px;
}

.st-sp-popular-movie-item-genre-list {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	list-style: none;
}

.st-sp-popular-movie-item-genre {
	font-size: 8px;
	line-height: 11.75px;
	font-weight: 400;
}

.st-sp-popular-movie-item-genre-item:not(:last-child) {
	margin-right: 4px;
}

.st-sp-popular-movie-item-genre-item:not(:first-child)::before {
	content: "•";
	color: var(--secondary-font-color);
	margin-right: 2px;
}

.st-sp-popular-movie-item-release-container {
	margin-left: auto;
}

.st-sp-popular-movie-release {
	font-size: 8px;
	line-height: 11.75px;
	font-weight: 400;
}

.st-sp-snapshots-heading-container {
	border-left: 4px #d13223 solid;
	padding-left: 12px;
}

.st-sp-snapshots-list-container {
	margin-top: 48px;
}

.st-sp-snapshots-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 16px;
}

.st-sp-snapshots-list-item {
	margin: auto;
}

.st-sp-snapshots-list-item img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
	-o-object-fit: cover;
}

.st-sp-videos-heading-container {
	border-left: 4px #d13223 solid;
	padding-left: 12px;
}

.st-sp-videos-list-container {
	margin-top: 48px;
}

.st-sp-videos-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 16px;
}

.st-sp-videos-list-item {
	position: relative;
}

.st-sp-video-list-item-container {
	max-width: 327px;
	height: 210px;
	position: relative;
}

.st-sp-video-list-item-container > video {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
	-o-object-fit: cover;
}

.st-sp-videos-play-button {
	width: 39.74px;
	height: 39.74px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	display: block;
	margin: auto;
}

.st-sp-videos-play-button > img {
	width: 100%;
	height: 100%;
}

.st-sp-videos-duration {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 4px 8px;
	background-color: #000;
	color: #fff;
	font-size: 8px;
	line-height: 11.75px;
	font-weight: 400;
}

.personal-details-text {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}

@media only screen and (min-width: 1025px) {

	/* For desktop: */
	.st-sp-container {
		gap: 120px;
		padding: 0 112px 120px;
	}

	.st-sp-hero-container {
		flex-direction: row;
		align-items: center;
		padding: 35px 0;
	}

	.st-sp-profile-container {
		padding-left: 0;
		padding-right: 0;
		height: 572px;
		width: 488px;
	}

	.st-sp-profile-container img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		-o-object-fit: cover;
		object-position: top;
	}

	.st-sp-data-container {
		justify-items: flex-start;
		padding-left: 136px;
		padding-right: 0;
	}

	.st-sp-identification-container {
		display: flex;
		padding-top: 0;
		justify-items: flex-start;
		text-align: start;
		align-items: flex-end;
	}

	.st-sp-name-container {
		padding-left: 2px;
	}

	.st-sp-full-name-container {
		margin-top: 0;
		margin-left: 12px;
	}

	.name-text {
		font-size: 64px;
		line-height: 72px;
		font-weight: 600;
	}

	.full-name-text {
		font-size: 16px;
		line-height: 32px;
		font-weight: 400;
		color: var(--tag-font-color);
	}

	.st-sp-personal-details-container {
		padding-top: 24px;
	}

	.st-sp-occupation-text-container {
		min-width: 149px;
	}

	.st-sp-occupation-container {
		margin-left: 27px;
	}

	.st-sp-birth-date-details-container {
		padding-top: 16px;
	}

	.st-sp-birth-date-text-container {
		min-width: 149px;
	}

	.st-sp-birth-date-container {
		margin-left: 27px;
	}

	.st-sp-birth-place-details-container {
		padding-top: 16px;
	}

	.st-sp-birth-place-text-container {
		min-width: 149px;
	}

	.st-sp-birth-place-container {
		margin-left: 27px;
	}

	.st-sp-years-active-details-container {
		padding-top: 16px;
	}

	.st-sp-years-active-text-container {
		min-width: 149px;
	}

	.st-sp-years-active-container {
		margin-left: 27px;
	}

	.st-sp-debut-movie-details-container {
		padding-top: 16px;
	}

	.st-sp-debut-movie-text-container {
		min-width: 149px;
	}

	.st-sp-debut-movie-container {
		margin-left: 27px;
	}

	.st-sp-upcoming-movies-details-container {
		padding-top: 16px;
	}

	.st-sp-upcoming-movies-text-container {
		min-width: 149px;
	}

	.st-sp-upcoming-movies-container {
		margin-left: 27px;
	}

	.st-sp-social-details-container {
		padding-top: 16px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.st-sp-social-text-container {
		min-width: 149px;
	}

	.st-sp-social-container {
		margin-left: 27px;
	}

	.st-sp-social-items:not(:last-child) {
		margin-right: 21px;
		height: fit-content;
		line-height: 0;
		width: auto;
	}

	.st-sp-about-quick-links-container {
		display: flex;

	}

	.st-sp-about-container {
		padding-right: 136px;
	}

	.about-text {
		font-size: 18px;
		line-height: 32px;
	}

	.about-text a {
		font-size: 18px;
	}

	.st-sp-quick-links-container {
		display: block;
		width: 280px;
		height: 100%;
		padding-top: 24px;
		padding-bottom: 24px;
		padding-left: 32px;
		background-color: #2b2b2b;
		flex-shrink: 0;
	}

	.quick-links-heading-text {
		font-size: 32px;
		line-height: 32px;
		font-weight: 700;
	}

	.st-sp-quick-links-list-container {
		margin-top: 32px;
	}

	.st-sp-quick-links {
		padding: 0;
		list-style: none;
	}

	.st-sp-quick-link {
		display: flex;
		align-items: center;
		justify-items: center;
	}

	.st-sp-quick-link::before {
		content: url(../images/ic_arrow.svg);
		margin-right: 8px;
		line-height: 0;
	}

	.st-sp-quick-link:not(:first-child) {
		margin-top: 24px;
	}

	.st-sp-quick-link a {
		font-size: 20px;
		line-height: 32px;
		font-weight: 400;
	}

	.st-sp-popular-movies-items-container {
		overflow: visible;
		flex-wrap: wrap;
		gap: 32px;
		padding-bottom: 0;
	}

	.st-sp-popular-movie-item-poster-container {
		width: 384px;
		height: 411px;
		max-width: 384px;
	}

	.st-sp-popular-movie-item-poster-container img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top;
		-o-object-fit: cover;
	}

	.st-sp-popular-movie-item-info-container {
		padding: 24px 16px;
		width: 100%;
		background-color: #2b2b2b;
	}

	.st-sp-popular-movie-title {
		font-size: 24px;
		line-height: 32px;
	}

	.st-sp-popular-movie-runtime {
		font-size: 20px;
		line-height: 32px;
		font-weight: 400;
	}

	.st-sp-popular-movie-item-genre {
		font-size: 16px;
		line-height: 23.5px;
	}

	.st-sp-popular-movie-release {
		font-size: 16px;
		line-height: 23.5px;
	}

	.st-sp-snapshots-list {
		gap: 24px 32px;
	}

	.st-sp-snapshots-list-item {
		margin: 0;
	}

	.st-sp-videos-list {
		gap: 32px;
	}

	.st-sp-videos-list-item {
		position: relative;
	}

	.st-sp-video-list-item-container {
		max-width: 384px;
		height: 246px;
		position: relative;
	}

	.st-sp-videos-play-button {
		width: 49.67px;
		height: 49.67px;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;

		display: block;
		margin: auto;
	}

	.personal-details-text {
		font-size: 18px;
		line-height: 32px;
		font-weight: 400;
	}

}
