.st-sm-container {
	display: flex;
	flex-direction: column;
	gap: 64px;
	padding-bottom: 64px;
}

.st-sm-info-container {}

.st-sm-poster-container {

}

.st-sm-poster-container > img {
	max-height: 286px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.st-sm-info-stats-container {
	padding: 16px 24px 0 24px;
	display: flex;
	flex-direction: column;
}

.st-sm-title {
	font-weight: 600;
	font-size: 32px;
	line-height: 40px;
	order: 1;
}

.st-sm-stats-items {
	padding: 16px 0 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	gap: 4px;
	order: 2;
}

.st-sm-stats-list-item:not(:first-child):before {
	content: "•";
	font-size: 14px;
	line-height: 20.56px;
	color: var(--primary-font-color);
	margin-right: 2px;
}


.st-sm-rating > img {
	position: relative;
	line-height: 0;
	margin-right: 8px;
	width: 20px;
	height: 20px;
	top: -1.1px;
}

.st-sm-rating-text {
	font-weight: 700;
	font-size: 14px;
	line-height: 20.56px;
}

.st-sm-release-date-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 20.56px;
}

.st-sm-content-rating-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 20.56px;
}

.st-sm-runtime-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 20.56px;
}

.st-sm-genres-container {
	padding-top: 16px;
	order: 3;
	display: flex;
	flex-direction: row;
	gap: 24px;
}

.st-sm-genre-item-container {
	padding: 4px 12px;
	border: 1px solid var(--primary-font-color);
	border-radius: 24px;

	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.st-sm-description-container {
	order: 4;
	padding-top: 24px;

	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

.st-sm-directors-container {
	order: 5;
	padding-top: 24px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 8px;
}

.st-sm-director-text {
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
}

.st-sm-director-list {
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	gap: 8px;
}

.st-sm-director-item {
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
}

.st-sm-director-item:not(:first-child):before {
	content: "•";
	margin-right: 4px;
}

.st-sm-watch-trailer-container {
	order: 6;
	margin-top: 44px;
	position: relative;
	display: flex;
	align-items: center;
}

.ic-play-circle-container {
	position: absolute;
	left: 0;

}

.ic-play-circle-container > img {
	height: 70px;
	width: 70px;
}

.st-sm-watch-trailer-text-container {
	width: 100%;
	padding: 12px 24px;
	border: 1px solid var(--primary-font-color);
	border-radius: 32px;
	flex: 0 0 201px;
	text-align: end;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
}

.st-sm-plot-quick-links-container {
	padding: 0 24px 0 24px;
}

.st-sm-plot-container {}

.st-sm-plot-heading {
	display: none;
	border-left: 4px solid var(--border-color);
	padding-left: 12px;
}

.st-sm-synopsis-heading {
	border-left: 4px solid var(--border-color);
	padding-left: 12px;
}

.st-sm-plot-text {
	padding-top: 48px;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

.st-sm-plot-text a {
	padding-top: 48px;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: var(--link-color);
}

.st-sm-quick-links-container {
	display: none;
}

.st-sm-cast-crew-container {
	padding: 0 24px 0 24px;
}

.st-sm-cast-crew-heading-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.st-sm-cast-crew-heading {
	border-left: 4px solid var(--border-color);
	padding-left: 12px;
}

.st-sm-cast-crew-view-all-container-desktop {
	display: none;
}

.st-sm-cast-crew-list-container {
	padding-top: 48px;
}

.st-sm-cast-crew-list-items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
}

.st-sm-cast-crew-list-item-image-container {
	width: 156px;
	height: 138.22px;
}

.st-sm-cast-crew-list-item-image-container > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.st-sm-cast-crew-list-item-name-container {
	padding: 8px 16px;
	background-color: #2b2b2b;
	text-align: center;
	overflow-wrap: break-word;
}

.st-sm-cast-crew-list-item-name {
	font-size: 14px;
	line-height: 14px;
	font-weight: 500;
}

.st-sm-cast-crew-view-all-container-mobile {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-top: 32px;
}

.st-sm-cast-crew-view-all-container-mobile:after {
	content: url(../images/ic_arrow_red.svg);
	line-height: 0;
	height: 20px;
	width: 20px;
	fill: var(--link-color);
}

.st-sm-cast-crew-view-all-link {
	color: var(--link-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	padding-right: 8px;
}

.st-sm-snapshots-container {
	padding: 0 24px;
}

.st-sm-snapshots-heading-container {
	border-left: 4px solid var(--border-color);
	padding-left: 12px;
}

.st-sm-snapshots-list-container {
	padding-top: 48px;
}

.st-sm-snapshots-list-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 16px;
}

.st-sm-snapshots-list-item {
	margin: auto;
}

.st-sm-snapshots-list-item-image-container > img {
	width: 100%;
	object-fit: cover;
	object-position: top;
}

.st-sm-trailer-clips-container {
	padding: 0 24px;
}

.st-sm-trailer-clips-heading-container {
	border-left: 4px solid var(--border-color);
	padding-left: 12px;
}

.st-sm-trailer-clips-list-container {
	padding-top: 40px;
}

.st-sm-trailer-clips-list-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 16px;
}

.st-sm-trailer-clips-list-item {
	position: relative;
}

.st-sm-trailer-clips-list-item-image-container {}

.st-sm-trailer-clips-list-item-image-container > img {
	width: 100%;
}

.st-sm-videos-play-button > img {
	width: 39.74px;
	height: 39.74px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: block;
	margin: auto;
}

.st-sm-reviews-container {
	padding: 0 24px;
}

.st-sm-reviews-heading-container {
	border-left: 4px solid var(--border-color);
	padding-left: 12px;
}

.st-sm-reviews-list-container {
	padding-top: 42px;
}

.st-sm-reviews-list-items {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
}

.st-sm-reviews-list-item {
	padding: 16px;
	background-color: #2a2a2a;
}

.st-sm-reviews-list-item-image-name-rating-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.st-sm-reviews-list-item-image-name-container {
	display: flex;
	align-items: center;
	gap: 8px;
	flex-wrap: wrap;
	line-height: 100%;
}

.st-sm-reviews-list-item-name-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 20.56px;
}

.st-sm-reviews-list-item-image-name-container > img {
	width: 31px;
	height: 31px;
	border-radius: 50%;
}


.st-sm-reviews-list-item-rating-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 8px;
}

.st-sm-reviews-list-item-rating-container > img {
	width: 20px;
	height: 20px;
}

.st-sm-reviews-list-item-rating-text {
	font-weight: 700;
	font-size: 14px;
	line-height: 100%;
}

.st-sm-reviews-list-item-content-container {
	margin-top: 12px;
}

.st-sm-reviews-list-item-content {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

.st-sm-reviews-list-item-date-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 24px;
}

.st-sm-reviews-list-item-date {
	font-weight: 400;
	font-size: 14px;
	line-height: 20.56px;
}

@media only screen and (min-width: 1025px) {
	.st-sm-container {
		display: flex;
		flex-direction: column;
		padding: 0 112px 120px  112px;
		gap: 120px;
	}

	.st-sm-info-container {
		padding: 35px 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 34px;
		align-items: center;
	}

	.st-sm-poster-container {
		max-height: 876px;
		max-width: 592px;
	}

	.st-sm-poster-container > img {
		max-height: none;
	}

	.st-sm-info-stats-container {
		padding: 0;
		justify-content: center;
	}

	.st-sm-title {
		font-size: 88px;
		line-height: 96px;
	}

	.st-sm-stats-items {
		padding: 64px 0 0;
		flex-wrap: wrap;
		gap: 18px;
	}

	.st-sm-stats-list-item:not(:first-child):before {
		content: "•";
		font-size: 24px;
		line-height: 24px;
		color: var(--primary-font-color);
		margin-right: 8px;
	}

	.st-sm-rating-text {
		font-size: 24px;
		line-height: 24px;
	}

	.st-sm-release-date-text {
		font-size: 24px;
		line-height: 24px;
	}

	.st-sm-content-rating-text {
		font-size: 24px;
		line-height: 24px;
	}

	.st-sm-runtime-text {
		font-size: 24px;
		line-height: 24px;
	}

	.st-sm-genres-container {
		padding-top: 40px;
		order: 4;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 31px;
	}

	.st-sm-genre-item-container {
		padding: 8px 16px;
		font-size: 16px;
		line-height: 24px;
	}

	.st-sm-description-container {
		order: 3;
		padding-top: 36px;
		font-size: 18px;
		line-height: 32px;
	}

	.st-sm-directors-container {
		order: 5;
		padding-top: 64px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 12px;
	}

	.st-sm-director-text {
		font-size: 18px;
		line-height: 32px;
	}

	.st-sm-director-list {
		padding: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style: none;
		gap: 12px;
	}

	.st-sm-director-item {
		font-weight: 400;
		font-size: 18px;
		line-height: 32px;
	}

	.st-sm-director-item:not(:first-child):before {
		content: "•";
		margin-right: 4px;
	}

	.st-sm-watch-trailer-container {
		order: 6;
		margin-top: 65px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.ic-play-circle-container {
		position: absolute;
		left: 0;

	}

	.ic-play-circle-container > img {
		height: 100px;
		width: 100px;
	}

	.st-sm-watch-trailer-text-container {

		padding: 12px 40px;
		flex: 0 0 264px;
		text-align: end;
	}

	.st-sm-plot-quick-links-container {
		padding: 0;
		display: flex;
		flex-direction: row;
	}

	.st-sm-plot-container {
		display: flex;
		flex-direction: column;
		margin-right: 136px;
	}

	.st-sm-plot-heading {
		display: block;
	}

	.st-sm-synopsis-heading {
		display: none;
	}

	.st-sm-plot-text {
		font-size: 18px;
		line-height: 32px;
	}

	.st-sm-plot-text a {
		font-size: 18px;
		line-height: 32px;
	}

	.st-sm-quick-links-container {
		display: block;
		width: 280px;
		height: 100%;
		padding-top: 24px;
		padding-bottom: 24px;
		padding-left: 32px;
		background-color: #2b2b2b;
		flex-shrink: 0;
	}

	.st-sm-quick-links-heading {
		font-size: 32px;
		line-height: 32px;
		font-weight: 700;
	}

	.st-sm-quick-links-list-container {
		margin-top: 32px;
	}

	.st-sm-quick-links {
		padding: 0;
		list-style: none;
	}

	.st-sm-quick-link {
		display: flex;
		align-items: center;
		justify-items: center;
	}

	.st-sm-quick-link:before {
		content: url(../images/ic_arrow.svg);
		margin-right: 8px;
		line-height: 0;
	}

	.st-sm-quick-link:not(:first-child) {
		margin-top: 24px;
	}

	.st-sm-quick-link a {
		font-size: 20px;
		line-height: 32px;
		font-weight: 400;
	}

	.st-sm-cast-crew-container {
		padding: 0;
	}

	.st-sm-cast-crew-list-items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 32px;
	}

	.st-sm-cast-crew-view-all-container-desktop {
		display: flex;
		align-items: center;
	}

	.st-sm-cast-crew-view-all-container-desktop:after {
		content: url(../images/ic_arrow_red.svg);
		line-height: 0;
		height: 20px;
		width: 20px;
		fill: var(--link-color);
	}

	.st-sm-cast-crew-view-all-link {
		font-size: 20px;
	}

	.st-sm-cast-crew-list-item-image-container {
		min-width: 280px;
		width: 100%;
		max-width: 100%;
		height: 248.32px;
	}

	.st-sm-cast-crew-list-item-name-container {
		width: 100%;
		padding: 24px 44px;
		background-color: #2b2b2b;
		text-align: center;
		overflow-wrap: break-word;
	}

	.st-sm-cast-crew-list-item-name {
		font-size: 22px;
		line-height: 22px;
		font-weight: 500;
	}

	.st-sm-cast-crew-view-all-container-mobile {
		display: none;
	}

	.st-sm-snapshots-container {
		padding: 0;
	}

	.st-sm-snapshots-list-items {
		gap: 24px 32px;
	}

	.st-sm-snapshots-list-item {
		margin: 0;
	}

	.st-sm-trailer-clips-container {
		padding: 0;
	}

	.st-sm-trailer-clips-list-container {
		padding-top: 48px;
	}

	.st-sm-trailer-clips-list-items {
		gap: 32px;
		flex: 1;
	}

	.st-sm-videos-play-button > img {
		width: 46.67px;
		height: 39.74px;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		display: block;
		margin: auto;
	}

	.st-sm-reviews-container {
		padding: 0;
	}

	.st-sm-reviews-list-container {
		padding-top: 48px;
	}

	.st-sm-reviews-list-items {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 32px;
	}

	.st-sm-reviews-list-item {
		padding: 24px 32px;
	}

	.st-sm-reviews-list-item-image-name-container {
		gap: 12px;
	}

	.st-sm-reviews-list-item-name-text {
		font-size: 16px;
		line-height: 24px;
	}

	.st-sm-reviews-list-item-image-name-container > img {
		width: 59px;
		height: 59px;
		border-radius: 50%;
	}

	.st-sm-reviews-list-item-rating-text {
		font-weight: 500;
		font-size: 16px;
		line-height: 32px;
	}

	.st-sm-reviews-list-item-content-container {
		margin-top: 16px;
	}

	.st-sm-reviews-list-item-content {
		font-size: 18px;
		line-height: 32px;
	}

	.st-sm-reviews-list-item-date {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
	}


}