/**
 * This file contains the stylesheet for the single-person template
 */

@import "./about.css";
@import "./snapshots.css";
@import "./videos.css";
@import "./movies.css";

.sp-wrapper {
	display: flex;
	flex-direction: column;
	gap: 64px;
	padding: 0 24px 64px;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

/* Hero Section Starts */
.hero-wrapper {
	display: flex;
	position: relative;
	flex-direction: column;
}

.sp-profile-wrapper {
	align-self: center;
	height: 286px;
	width: 244px;
}

.sp-profile-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	-o-object-fit: cover;
	object-position: top;
}

.data-wrapper {
	display: flex;
	flex-direction: column;
}

.identification-wrapper {
	padding-top: 16px;
	text-align: center;
}

.full-name-wrapper {
	margin-top: 8px;
}

.name-wrapper p {
	font-size: 32px;
	line-height: 40px;
	font-weight: 600;
}

.full-name-wrapper p {
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
}

.personal-details-wrapper {
	padding-top: 31px;
}

.occupation-details-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.occupation-text-wrapper {
	min-width: 116px;
}

.occupation-wrapper {
	margin-left: 40px;
}

.birth-date-details-wrapper {
	padding-top: 24px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.birth-date-text-wrapper {
	min-width: 116px;
}

.birth-date-wrapper {
	margin-left: 40px;
}

.birth-place-details-wrapper {
	padding-top: 24px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.birth-place-text-wrapper {
	min-width: 116px;
}

.birth-place-wrapper {
	margin-left: 40px;
}

.years-active-details-wrapper {
	padding-top: 24px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.years-active-text-wrapper {
	min-width: 116px;
}

.years-active-wrapper {
	margin-left: 40px;
}

.debut-movie-details-wrapper {
	padding-top: 24px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.debut-movie-text-wrapper {
	min-width: 116px;
}

.debut-movie-wrapper {
	margin-left: 40px;
}

.upcoming-movies-details-wrapper {
	padding-top: 24px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.upcoming-movies-text-wrapper {
	min-width: 116px;
}

.sp-upcoming-movies-wrapper {
	margin-left: 40px;
}

.social-details-wrapper {
	padding-top: 24px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.social-text-wrapper {
	min-width: 116px;
}

.social-wrapper {
	margin-left: 40px;
	display: flex;
	align-items: flex-start;
}

.social-item {
	line-height: 0;
}

.social-item:not(:last-child) {
	margin-right: 24.84px;
	height: fit-content;
	line-height: 0;
	width: auto;
}

.social-item img {
	width: 20px;
	height: 20px;
}

/* Popular Movies Section Starts */
.heading-wrapper {
	border-left: 4px #d13223 solid;
	padding-left: 12px;
}

.popular-movies-list-wrapper {
	margin-top: 48px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 17px;
	padding-bottom: 32px;
	overflow: scroll;
}

/* Popular Movies Section Ends */

.personal-details-text {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}

@media only screen and (min-width: 1025px) {

	/* For desktop: */
	.sp-wrapper {
		gap: 120px;
		padding: 0 112px 120px;
	}

	/* Hero Section Starts */
	.hero-wrapper {
		flex-direction: row;
		align-items: center;
		padding: 35px 0;
	}

	.sp-profile-wrapper {
		padding-left: 0;
		padding-right: 0;
		height: 572px;
		width: 488px;
	}

	.sp-profile-wrapper img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		-o-object-fit: cover;
		object-position: top;
	}

	.data-wrapper {
		justify-items: flex-start;
		padding-left: 136px;
		padding-right: 0;
	}

	.identification-wrapper {
		display: flex;
		padding-top: 0;
		justify-items: flex-start;
		text-align: start;
		align-items: flex-end;
	}

	.name-wrapper {
		padding-left: 2px;
	}

	.full-name-wrapper {
		margin-top: 0;
		margin-left: 12px;
	}

	.name-wrapper p {
		font-size: 64px;
		line-height: 72px;
		font-weight: 600;
	}

	.full-name-wrapper p {
		font-size: 16px;
		line-height: 32px;
		font-weight: 400;
		color: var(--tag-font-color);
	}

	.personal-details-wrapper {
		padding-top: 24px;
	}

	.occupation-text-wrapper {
		min-width: 149px;
	}

	.occupation-wrapper {
		margin-left: 27px;
	}

	.birth-date-details-wrapper {
		padding-top: 16px;
	}

	.birth-date-text-wrapper {
		min-width: 149px;
	}

	.birth-date-wrapper {
		margin-left: 27px;
	}

	.birth-place-details-wrapper {
		padding-top: 16px;
	}

	.birth-place-text-wrapper {
		min-width: 149px;
	}

	.birth-place-wrapper {
		margin-left: 27px;
	}

	.years-active-details-wrapper {
		padding-top: 16px;
	}

	.years-active-text-wrapper {
		min-width: 149px;
	}

	.years-active-wrapper {
		margin-left: 27px;
	}

	.debut-movie-details-wrapper {
		padding-top: 16px;
	}

	.debut-movie-text-wrapper {
		min-width: 149px;
	}

	.debut-movie-wrapper {
		margin-left: 27px;
	}

	.upcoming-movies-details-wrapper {
		padding-top: 16px;
	}

	.upcoming-movies-text-wrapper {
		min-width: 149px;
	}

	.sp-upcoming-movies-wrapper {
		margin-left: 27px;
	}

	.social-details-wrapper {
		padding-top: 16px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.social-text-wrapper {
		min-width: 149px;
	}

	.social-wrapper {
		margin-left: 27px;
	}

	.social-item:not(:last-child) {
		margin-right: 21px;
		height: fit-content;
		line-height: 0;
		width: auto;
	}

	/* Hero Section Ends */

	/* Popular Movies Section Starts */
	.popular-movies-list-wrapper {
		overflow: visible;
		flex-wrap: wrap;
		gap: 32px;
		padding-bottom: 0;
	}

	/* Popular Movies Section Ends */

	.personal-details-text {
		font-size: 18px;
		line-height: 32px;
		font-weight: 400;
	}
}
