.st-sm-container {
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 35px 112px;
	display: flex;
	gap: 120px;
	flex-direction: column;
}

.st-sm-info-container {
	display: flex;
	gap: 34px;
	align-items: center;
}

.st-sm-poster img {
	min-width: 600px;
	min-height: 875px;
	width: 100%;
	object-fit: cover;
}

.st-sm-poster {

}

.st-sm-info-stats-container {
	display: flex;
	flex-direction: column;
}

.st-sm-title {
	font-size: 88px;
	font-weight: 600;
	line-height: 96px;
}

.st-sm-stats-items {
	display: flex;
	align-items: center;
	margin-top: 64px;
	padding: 0;
	gap: 18px;
	position: relative;
	list-style: disc inside;
	color: #fff;
	width: 100%;
}

.st-sm-rating {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
}

.st-sm-rating-text {
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
}

.st-sm-stats-list-item {
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
}

.st-sm-description {
	font-size: 18px;
	font-weight: 400;
	line-height: 32px;
	margin-top: 32px;
}

.st-sm-genres-container-desktop {
	display: flex;
	gap: 15px;
	margin-top: 40px;
}

.st-sm-genres-container-mobile {
	display: none;
}

.st-sm-genre-item {
	padding: 8px 16px;
	border: 1px solid var(--primary-font-color);
	border-radius: 24px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.st-sm-directors-container {
	display: flex;
	gap: 12px;
	margin-top: 56px;
	align-content: center;
}

.st-sm-director-text {
	font-size: 18px;
	font-weight: 700;
	line-height: 32px;
}

.st-sm-director-list {
	display: flex;
	align-content: center;
	gap: 18px;
	list-style: disc inside;
	padding: 0;
}

.st-sm-director-item {
	font-size: 18px;
	font-weight: 400;
	line-height: 32px;
}

.st-sm-director-item:first-child {
	list-style: none;
}

.st-sm-watch-trailer-container {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-top: 56px;
}

.st-sm-watch-trailer-text-container {
	position: absolute;
	line-height: 24px;
	padding: 16px 40px 16px 120px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 8px;
	border: 1px solid #FFFFFF;
	border-radius: 32px;
}

.st-sm-watch-trailer-text {
	font-size: 16px;
	font-weight: 500;
	flex: none;
	order: 0;
	flex-grow: 0;
	z-index: 0;
}

.ic-play-circle-container {
	flex: none;
	order: 1;
	flex-grow: 0;
	z-index: 1;
}

.st-sm-plot-quick-links-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.st-sm-plot-container {
	display: flex;
	flex-direction: column;
	flex: 2;
	gap: 48px;
	margin-right: 136px;
}

.st-sm-plot-heading {
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
	border-left: 4px solid #d13223;
	padding-left: 12px
}

.st-sm-plot-text {
	font-size: 18px;
	font-weight: 400;
	line-height: 32px;
}

.st-sm-quick-links-container {
	background-color: #2b2b2b;
	padding: 24px 126px 0 32px;
	height: fit-content;
}

.st-sm-quick-links-heading {
	font-size: 32px;
	font-weight: 700;
	line-height: 32px;
}

.st-sm-quick-links-list-container {
	margin-top: 32px;
}

.st-sm-quick-links-list {
	list-style-image: url(../images/ic_arrow.svg);
	color: #fff;
	padding: 0;
	list-style-position: inside;
}

.st-sm-quick-links-list-item {
	margin-bottom: 24px;
}

.st-sm-quick-links-list-item-link {
	text-decoration: none;
}


.st-sm-cast-crew-heading-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.st-sm-cast-crew-heading {
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
	padding-left: 12px;
	border-left: 4px solid #d13223;
}

.st-sm-cast-crew-view-all-link {
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	text-decoration: none;
	color: #E46D62;
}

.st-sm-cast-crew-list-container {
	margin-top: 48px;
}

.st-sm-cast-crew-list-items {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 32px;
}

.st-sm-cast-crew-list-item-image-container img {
	width: 100%;
}

.st-sm-cast-crew-list-item-name-container {
	background-color: #2b2b2b;
	padding: 24px 0;
	text-align: center;
}

.st-sm-cast-crew-list-item-name {
	font-size: 22px;
	font-weight: 500;
	line-height: 22px;
}

.st-sm-snapshots-heading {
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
	padding-left: 12px;
	border-left: 4px solid #d13223;
}

.st-sm-snapshots-list-items {
	display: flex;
	gap: 24px 32px;
	flex-wrap: wrap;
	margin-top: 48px;
}

.st-sm-trailer-clips-heading {
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
	padding-left: 12px;
	border-left: 4px solid #d13223;
}

.st-sm-trailer-clips-list-container {
	margin-top: 48px;
}

.st-sm-trailer-clips-list-items {
	display: flex;
	gap: 32px;
	flex-wrap: wrap;
}

.st-sm-trailer-clips-list-item-image-container img {
	width: 100%;
}

.st-sm-reviews-heading {
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
	padding-left: 12px;
	border-left: 4px solid #d13223;
}

.st-sm-reviews-list-container {
	margin-top: 48px;
}

.st-sm-reviews-list {
	display: flex;
	gap: 32px;
	flex-wrap: wrap;
}



@media (max-width: 375px) {

	.st-sm-container {
		width: 100%;
		max-width: 100%;
		margin: 0;
		padding: 0 24px;
		display: flex;
		gap: 64px;
		flex-direction: column;
	}

	.st-sm-info-container {
		display: flex;
		gap: 18px;
		flex-direction: column;
		position: relative;
		align-items: center;
	}


	.st-sm-poster img {
		min-width: 500px;
		min-height: 375px;
		object-fit: cover;
	}

	.st-sm-title {
		font-size: 32px;
		font-weight: 600;
		line-height: 40px;
	}

	.st-sm-stats-items {
		display: flex;
		align-items: center;
		margin-top: 16px;
		padding: 0;
		position: relative;
		list-style: disc inside;
		color: #fff;
	}

	.st-sm-rating {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
	}

	.st-sm-rating-text {
		font-size: 14px;
		font-weight: 600;
		line-height: 23px;
	}

	.st-sm-stats-list-item {
		font-size: 14px;
		font-weight: 400;
		line-height: 23px;
		margin-right: 4px;
	}

	.st-sm-description {
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		margin-top: 28px;
	}

	.st-sm-genres-container-desktop {
		display: none;
	}

	.st-sm-genres-container-mobile {
		display: flex;
		gap: 24px;
		margin-top: 16px;
	}

	.st-sm-genre-item {
		padding: 8px 16px;
		border: 1px solid var(--primary-font-color);
		border-radius: 24px;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
	}

	.st-sm-directors-container {
		display: flex;
		gap: 12px;
		margin-top: 24px;
		align-content: center;
	}

	.st-sm-director-text {
		font-size: 14px;
		font-weight: 700;
		line-height: 21px;
	}

	.st-sm-director-list {
		display: flex;
		align-content: center;
		gap: 8px;
		list-style: disc inside;
		padding: 0;
	}

	.st-sm-director-item {
		font-size: 14px;
		font-weight: 400;
		line-height: 21px;
	}

	.st-sm-director-item:first-child {
		list-style: none;
	}

	.st-sm-watch-trailer-container {
		display: flex;
		align-items: center;
		flex-direction: row;
		margin-top: 56px;
	}

	.st-sm-watch-trailer-text-container {
		position: absolute;
		line-height: 24px;
		padding: 12px 24px 12px 120px;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		gap: 8px;
		border: 1px solid #FFFFFF;
		border-radius: 32px;
	}

	.st-sm-watch-trailer-text {
		font-size: 16px;
		font-weight: 500;
		flex: none;
		order: 0;
		flex-grow: 0;
		z-index: 0;
	}

	.ic-play-circle-container {
		flex: none;
		order: 1;
		flex-grow: 0;
		z-index: 1;
	}

	.st-sm-plot-quick-links-container {
		display: flex;
		flex-direction: column;
	}

	.st-sm-plot-container {
		display: flex;
		flex-direction: column;
		margin-right: 0;
	}

	.st-sm-plot-heading {
		font-size: 24px;
		font-weight: 700;
		line-height: 32px;
		border-left: 4px solid #d13223;
		padding-left: 12px
	}

	.st-sm-plot-text {
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
	}

	.st-sm-quick-links-container {
		display: none;
	}

	.st-sm-cast-crew-heading-container {
		display: flex;
		align-items: center;
	}

	.st-sm-cast-crew-heading {
		font-size: 24px;
		font-weight: 700;
		line-height: 32px;
		padding-left: 12px;
		border-left: 4px solid #d13223;
	}

	.st-sm-cast-crew-view-all-link {
		display: none;
	}

	.st-sm-cast-crew-list-container {
		margin-top: 48px;
	}

	.st-sm-cast-crew-list-items {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-gap: 16px;
	}

	.st-sm-cast-crew-list-item-image-container img {
		width: 100%;
	}

	.st-sm-cast-crew-list-item-name-container {
		background-color: #2b2b2b;
		padding: 12px 0;
		text-align: center;
	}

	.st-sm-cast-crew-list-item-name {
		font-size: 14px;
		font-weight: 500;
		line-height: 14px;
	}

	.st-sm-snapshots-heading {
		font-size: 24px;
		font-weight: 700;
		line-height: 32px;
		padding-left: 12px;
		border-left: 4px solid #d13223;
	}

	.st-sm-snapshots-list-items {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		margin-top: 48px;
		gap: 16px;
	}

	.st-sm-snapshots-list-item-image-container {
		margin-bottom: 16px;
	}

	.st-sm-snapshots-list-item-image-container img {
		width: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}

	.st-sm-trailer-clips-heading {
		font-size: 32px;
		font-weight: 700;
		line-height: 40px;
		padding-left: 12px;
		border-left: 4px solid #d13223;
	}

	.st-sm-trailer-clips-list-container {
		margin-top: 48px;
	}

	.st-sm-trailer-clips-list-items {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 16px;
	}

	.st-sm-trailer-clips-list-item-image-container img {
		width: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}

	.st-sm-reviews-heading {
		font-size: 32px;
		font-weight: 700;
		line-height: 40px;
		padding-left: 12px;
		border-left: 4px solid #d13223;
	}

	.st-sm-reviews-list-container {
		margin-top: 48px;
	}

	.st-sm-reviews-list {
		display: flex;
		gap: 32px;
		flex-wrap: wrap;
	}

}
