.st-sm-snapshots-container {
	padding: 0 24px;
}

.st-sm-snapshots-heading-container {
	border-left: 4px solid var(--border-color);
	padding-left: 12px;
}

.st-sm-snapshots-list-container {
	padding-top: 48px;
}

.st-sm-snapshots-list-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 16px;
}

.st-sm-snapshots-list-item {
	margin: auto;
}

.st-sm-snapshots-list-item-image-container > img {
	width: 100%;
	object-fit: cover;
	object-position: top;
}

@media only screen and (min-width: 1025px) {
	.st-sm-snapshots-container {
		padding: 0;
	}

	.st-sm-snapshots-list-items {
		gap: 24px 32px;
	}

	.st-sm-snapshots-list-item {
		margin: 0;
	}
}