/**
 * This file contains the stylesheet for the snapshots template
 */

.snapshots-wrapper {
	padding: 0 24px;
}

.snapshots-heading-wrapper {
	border-left: 4px solid var(--border-color);
	padding-left: 12px;
}

.snapshot-list-wrapper {
	padding-top: 48px;
}

.snapshot-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 16px;
}

.snapshot-item-wrapper {
	margin: auto;
	max-width: 100%;
}

.snapshot-item-wrapper > img {
	width: 100%;
	object-fit: cover;
	object-position: top;
}

@media only screen and (min-width: 1025px) {

	.snapshots-wrapper {
		padding: 0;
	}

	.snapshot-list {
		gap: 24px 32px;
	}

	.snapshot-item-wrapper {
		margin: 0;
		max-width: 100%;
	}

	.snapshot-item-wrapper > img {
		width: 100%;
		object-fit: cover;
		object-position: top;
	}
}
