/**
 * This file contains the CSS for the TODO Component.
 */

/* TODO Component CSS */
.ToDo-app-heading {
    font-size: 2em;
    font-weight: 600;
    color: #333;
    text-align: center;
}

.ToDo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 2em;
    gap: 1em;
}

.ToDo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0.5em;
    gap: 1em;
    border-radius: 10px;
    border: 2px solid #1f1a1a;
    height: 600px;
}

.ToDo-clear-all {
    background-color: #1f1a1a;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

.list-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    justify-content: space-evenly;
    gap: 1em;
}

.task-container {
    width: 49%;
    height: fit-content;
    border-radius: 10px;
    border: 2px solid #1f1a1a;
}