$background-color: #fff;
$primary-font-color: #415058;
$border-color: #ddd;
$pre-background-color: #f2f2f3;
$pre-text-color: #1f292e;
$button-color: #3278bd;
$button-border: #3278bd;
$link-color: #3278bd;
$date-color: #8a9ea8;
$meta-color: #999;
$social-button-background-color: #f8f8f8;
$social-button-text-color: #656565;
$social-button-border-color: #ccc;
$social-button-background-hover-color: #f1f1f1;
$social-button-text-hover-color: #222;
$social-button-border-hover-color: #999;
$font-family: -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen-Sans", "Oxygen", "Fira Sans", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
