@import "variables";

.blog-wrapper {
  padding: 0 20px;
  @media (min-width: 1025px) {
    max-width: 1100px;
    margin: 0 auto;
  }

  .breadcrumb-wrapper {
    margin-top: 30px;
  }

  .posts-wrapper {
    padding-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;

    .post-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      margin: 24px 0;


      @media (min-width: 1025px) {
        grid-template-columns: 15% auto;
        gap: 20px;
      }

      .post-date {
        padding: 6.4px 0;
        a {
          color: $date-color;
          font-size: 13px;
          font-family: $font-family;
          line-height: 1.6;
          font-weight: 400;
        }

        @media (min-width: 1025px) {
          padding: 7.2px 17.2px 7.2px 0;
        }
      }

      .post-data {
        padding-bottom: 32px;
        border-bottom: 1px solid $border-color;

        .post-title {
          width: 100%;
          margin-bottom: 16.5px;
          overflow: hidden;
          text-overflow: ellipsis;
          a {

            font-size: 26px;
            font-family: $font-family;
            line-height: 1.5;
            font-weight: 300;
            color: $primary-font-color;
            &:hover {
              text-decoration: underline;
            }
          }
        }

        .post-meta {
          display: flex;
          flex-direction: column;
        }
        .post-author {
          font-size: 14px;
          font-family: $font-family;
          line-height: 1.6;
          font-weight: 600;
          color: $meta-color;

          a {
            color: $meta-color;
            font-weight: 400;
            &:hover {
              color: $link-color;
              text-decoration: underline;
            }
          }
        }

        .post-category {
          font-size: 14px;
          font-family: $font-family;
          line-height: 1.6;
          font-weight: 600;
          color: $meta-color;
          display: inline-block;

          a {
            color: $meta-color;
            font-weight: 400;
            &:hover {
              color: $link-color;
              text-decoration: underline;
            }
          }
        }

        .post-tag {
          font-size: 14px;
          font-family: $font-family;
          line-height: 1.6;
          font-weight: 600;
          color: $meta-color;
          display: inline-block;

          a {
            color: $meta-color;
            font-weight: 400;
            &:hover {
              color: $link-color;
              text-decoration: underline;
            }
          }
        }
      }

    }

    .pagination {
      text-align: center;

      .page-numbers {
        display: inline-block;
        margin: 0 2px;
        font-size: 14px;
        font-family: $font-family;
        border-radius: 50%;
        min-height: 40px;
        min-width: 40px;
        font-weight: 400;
        line-height: 40px;
        transition: 0.3s;

        &:hover {
          background-color: $button-color;
          border-color: $button-color;
          color: #fff;
        }

        &.current {
          background-color: $button-color;
          border-color: $button-color;
          font-weight: 700;
          color: #fff;
        }
      }

      .next,
      .prev {
        border-radius: 0;
      }
    }
  }
}