/**
 * This file contains the styles for the comments template.
 * @package EasyEngine
 */
@import "variables";

.comments-wrapper {

	.comments-title {
		font-size: 22px;
		line-height: 1.4;
		font-weight: 300;
	}

	.comment-list {
		margin: 0;
		padding: 0;
		list-style: none;

		.comment-meta {
			margin-bottom: 20px;
		}

		.comment-author {
			display: inline-block;

			img {
				border-radius: 50%;
				margin-right: 10px;
				transition: box-shadow 0.3s ease-in, -webkit-box-shadow 0.3s ease-in;
				vertical-align: middle;
			}

			.url {
				color: $primary-font-color;
			}
		}

		.comment-metadata {
			display: inline-block;
			font-size: 14px;

			@media (min-width: 768px) {
				font-size: 16px;
			}
		}

		.comment-content {

			@media (min-width: 768px) {
				margin-bottom: 20px;
				margin-left: 46px;
			}

			p {
				margin-bottom: 8px;
				font-size: 16px;

				@media (min-width: 768px) {
					font-size: 18px;
				}
			}
		}

		li {

			.children {
				list-style: none;
				padding-left: 10px;

				@media (min-width: 768px) {
					padding-left: 40px;
				}
			}
		}

		article {
			padding: 20px 0;
		}
	}
}

.nav-links {
	text-align: center;

	.page-numbers {
		display: inline-block;
		margin: 0 2px;
		font-size: 14px;
		font-family: $font-family;
		border-radius: 50%;
		min-height: 40px;
		min-width: 40px;
		font-weight: 400;
		line-height: 40px;
		transition: 0.3s;

		&:hover {
			background-color: $pre-background-color;
			color: $primary-font-color;
			padding: 0;
			border-radius: 50%;
		}

		&.current {
			background-color: $button-color;
			border-color: $button-color;
			font-weight: 700;
			color: #fff;
		}
	}

	.next,
	.prev {
		border-radius: 0;

		&:hover {
			background-color: unset;
			border-color: unset;
			color: $link-color;
		}
	}
}
