@import "variables";

.front-page-wrapper {
	padding: 20px 20px 0 20px;

	@media (min-width: 1025px) {
		padding: 0 20px;
	}

	h2 {
		margin: 36px 0 24px 0;
		text-align: center;

		@media (min-width: 768px) {
			margin: 54px auto 48px auto;
		}
	}

	.get-started-btn {
		margin: 20px 0 30px 0;
		text-align: center;

		@media (min-width: 1025px) {
			margin: 27px;
		}

		a:hover {
			background-color: $background-color;
			color: $button-color;
		}

		a {
			display: inline-block;
			background-color: $button-color;
			border: 2px solid $button-border;
			padding: 12px 30px;
			font-size: 16px;
			font-weight: 500;
			line-height: 16px;
			color: $background-color;
		}
	}

	.content-wrapper {

		h2 {
			margin: 36px 0 24px 0;
			text-align: center;

			@media (min-width: 768px) {
				margin: 54px auto 48px auto;
			}
		}

		* {
			@media (min-width: 768px) {
				max-width: 740px;
				margin: 0 auto;
			}
		}

		p {
			margin: 16px auto;
		}

		pre {
			margin: 13px 0;
			padding-left: 25px;
			padding-right: 25px;
		}
	}

	.details > * {

		@media (min-width: 1025px) {
			max-width: 1100px;
			margin: 0 auto;
		}
	}

	.features-section {

		.features-wrapper {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
			gap: 16px;

			@media (min-width: 768px) {
				grid-template-columns: repeat(3, 1fr);
			}

			.feature-post {
				padding: 0 10px;

				h2 {
					font-size: 22px;
					margin: 0 0 17.6px;
				}

				p {
					margin-bottom: 1rem;
				}
			}

		}
	}

	.advantages-section {

		.advantages-wrapper {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
			gap: 16px;

			@media (min-width: 768px) {
				grid-template-columns: repeat(3, 1fr);
			}

			.advantage-post {
				padding: 0 10px;

				h2 {
					font-size: 22px;
					margin: 0 0 17.6px;
				}

				p {
					margin-bottom: 1rem;
				}
			}

		}
	}

	.ted-talks-section {

		.ted-talks-wrapper {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
			gap: 16px;

			@media (min-width: 768px) {
				grid-template-columns: repeat(2, 1fr);
			}

			.ted-talks-post {
				padding: 0 10px;

				figcaption {
					font-size: 1rem;
					margin: 1rem 0;
				}
			}
		}
	}

	.testimonials-section {

		.testimonials-wrapper {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
			gap: 16px;

			@media (min-width: 768px) {
				grid-template-columns: repeat(2, 1fr);
			}

			.testimonials-post {
				padding: 0 10px;
			}
		}
	}

	.help-section {
		.help-wrapper {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
			gap: 16px;

			@media (min-width: 768px) {
				grid-template-columns: repeat(3, 1fr);
			}

			.help-post {
				padding: 0 10px;

				h2 {
					font-size: 22px;
					margin: 0 0 17.6px;
				}

				p {
					margin: 1rem 0;
				}
			}

		}
	}
}
