@import "variables";

.site-header {
    background-color: $background-color;
    padding-top: 10px;
    width: 100%;
    position: relative;
}

.header-inner {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 5px 0;

    @media (min-width: 1025px) {
        max-width: 1100px;
        margin: 0 auto;
    }

    &__branding{
        width: 182px;
        height: auto;
        margin-left: 12px;

        .custom-logo-link img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;

        }
    }

    &__navigation {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 12px;

        .menu-action {
            padding: 12px 30px;
        }

        i:after {
            height: 20px;
            width: 20px;
        }

        .primary-menu-wrapper {
            margin-right: 30px;

            .primary-menu-inner {
                list-style: none;
                display: flex;
                align-items: center;

                li {
                    padding: 15px 15px;
                    position: relative;
                    a {
                        color: $primary-font-color;
                        font-size: 20px;
                        font-weight: 300;
                        font-family: $font-family;
                        white-space: nowrap;

                        &:hover {
                            color: $link-color;
                        }
                    }

                    ul {
                        list-style: none;
                        display: none;

                        li {
                            padding: 7px 15px;
                            overflow-wrap: break-word;
                            position: relative;

                            a {
                                color: $primary-font-color;
                                font-size: 20px;
                                line-height: 32px;
                                font-weight: 300;
                                font-family: $font-family;
                                display: flex;
                                white-space: normal;
                                align-items: center;

                                &:hover {
                                    color: $link-color;
                                }
                            }

                            &:has(ul) {
                                & > a:after {
                                    margin-left: 8px;
                                    height: 8px;
                                    width: 8px;
                                    display: inline-block;
                                    background: url(../svgs/down-arrow.svg) no-repeat;
                                    content: "";
                                    transform: rotate(270deg);
                                    vertical-align: center;
                                }
                            }

                            &:hover ul {
                                position: relative;
                                display: block;
                                margin-top: 15px;
                                width: 220px;
                                border: 1px solid $border-color;
                                background-color: $background-color;
                            }

                        }

                        li:not(:last-child) {
                            border-bottom: 1px solid $border-color;
                        }
                    }

                    &:has(ul) {
                        & > a:after {
                            margin-left: 8px;
                            height: 8px;
                            width: 8px;
                            display: inline-block;
                            background: url(../svgs/down-arrow.svg) no-repeat;
                            content: "";
                            vertical-align: center;
                        }
                    }

                    &:hover {
                        > ul {
                            position: absolute;
                            display: block;
                            margin-top: 15px;
                            width: 220px;
                            border: 1px solid $border-color;
                            background-color: $background-color;
                        }
                    }
                }
            }
        }
    }
}

.expanded-menu-wrapper {
    width: 0;
    overflow: hidden;
    right:0;
    transition: width 0.3s ease-in-out;
    border-top: 1px solid $border-color;
    position: absolute;
    background-color: $background-color;
    z-index: 999;

    ul {
        list-style: none;
    }

    .expanded-menu-inner {

        li {
            a {
                display: block;
                color: $primary-font-color;
                font-size: 16px;
                font-weight: 300;
                line-height: 25.6px;
                padding: 10px 30px;
                border: 1px;
                font-family: $font-family;
                border-bottom: 1px solid $border-color;

                &:hover {
                    color: $link-color;
                }
            }

            .sub-menu {
                li {
                    a {
                        display: block;
                        color: $primary-font-color;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 25.6px;
                        padding: 10px 30px 10px 45px;
                        border: 1px;
                        border-bottom: 1px solid $border-color;

                        &:hover {
                            color: $link-color;
                        }
                    }
                }
            }
        }
    }
}

#search {
    cursor: pointer;
}

#search-close {
    cursor: pointer;
}

.search-container {
    position: relative;
}

.search-form {
    position: absolute;
    right: 0;
    width: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    overflow: hidden;
    top: 40px;
    z-index: 10;

    .search-input {
        display: flex;
        border: 1px solid $border-color;
        border-radius: 4px;
        padding: 12px 12px;

        input {
            padding: 0;
            border: 0;
            transition: width 0.3s ease-in-out;
            color: $primary-font-color;
            font-size: 14px;
            max-width: 220px;
            font-weight: 300;
            font-family: $font-family;
            background-color: transparent;
            margin-right: 10px;

            &:focus {
                outline: none;
            }
        }

        .search-submit {
            cursor: pointer;
        }
    }
}

.mobile-visible {
    display: unset;

    @media (min-width: 1025px) {
        display: none;
    }
}

.desktop-visible {
    display: none;

    @media (min-width: 1025px) {
        display: unset;
    }
}