$background-color: #fff;
$primary-font-color: #415058;
$border-color: #ddd;
$pre-background-color: #f2f2f3;
$pre-text-color: #1f292e;
$button-color: #3278bd;
$button-border: #3278bd;
$link-color: #3278bd;
$date-color: #8a9ea8;
$meta-color: #999;
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Oxygen", "Fira Sans", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;